<% if (locals.message) { %>
<div class="modal">
    <span><%= message %></span>
    <button class="btn--small--white" onclick="hideModal()">close</button>
</div>
<% } %>

<% if (locals.errors) { %>
<div class="modal">
    <ul>
        <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
        <% }); %>
    </ul>
    <button class="btn--small--white" onclick="hideModal()">close</button>
</div>
<% } %>
