<% if (locals.messages) { %>
<div class="modal">
    <ul>
    <% messages.forEach(function(message) { %>
        <li><%= message.msg %></li>
    <% }); %>
    </ul>
    <button class="btn--small--white" onclick="hideModal()">close</button>
</div>
<% } %>