<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>404: not found</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="landing-main">
        <h1>404</h1>
        <p>Page not found.</p>
        <a class="btn" href="/">Return to home</a>
    </div>
</body>
</html>