<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body>
    <%- include("partials/header.ejs") %>
    <main class="landing-main">
        <h2>Simple Cloud Storage Service</h2>
        <p>The core functionalities of this app are:</p>
        <ul>
            <li>CRUD for files and folders;</li>
            <li>Folder sharing;</li>
            <li>Authentication with Passport.js and Prisma session store</li>
            <li>Trash can funcionality, where deleted files will stay for a few days;</li>
            <li>+ a few minor details.</li>
        </ul>
        <a class="btn--outline" href="/login">Login</a>
        <a class="btn" href="/signup">Signup</a>
        <p>This project's repo can be accessed <a href="<%= repoUrl %>">here</a>.</p>
    </main>
</body>

</html>