<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File uploader</title>
</head>
<body>
    <% if (locals.currentUser) {%>
        <h2 class="username">Welcome, <%= currentUser.username %></h2>
    <%}%>
    <ul>
        <% if (locals.currentUser) {%>
        <li><a href="/folder/root">root</a></li>
        <%}%>
        <li><a href="/login">login</a></li>
        <li><a href="/logout">logout</a></li>
        <li><a href="/signup">signup</a></li>
        <li><a href="/upload">upload</a></li>
    </ul>
</body>
</html>