<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="form-container">
        <h2>Sign up</h2>
        <form action="/signup" method="post">
            <span class="form-row">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
            </span>
            <span class="form-row">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
            </span>
            <span class="form-row">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </span>
            <button class="btn" type="submit">Submit</button>
            <span>Already have an account? <a href="/login">Login</a></span>
        </form>
    </div>
</body>
</html>