<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File uploader</title>
</head>
<body>
    <% if (locals.currentUser) {%>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <span>
            <label for="file">Upload file</label>
            <input type="file" id="file" name="file">
        </span>
        <button type="submit">Submit</button>
    </form>
    <%} else { %>
    <p>You must <a href="/login">login</a> first.</p>
    <% } %>
</body>
</html>